#audio_on {
	display: inline;
}
#audio_mute {
	display: none;
}
html body{
}

.h1, .h2 {
	text-align: center;
	padding-top: 2%;
}

.imgImage{
	margin:5% 0 5% 0;
}

.wrapper{
	background :url(../images/background.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.jumbotron{
	min-height:45vh;
	margin: 0 20% 0 20%;
	background-color: rgba(0, 0, 0, 0.2);
}
.form-group{
	padding-top: 5px;
}

.divMultipleChoices .btn{
	margin: 50px 20px 0 20px;
}

#btnStart{
	margin:10% 0 20% 0;
}

.form-control.new{
	width:95% !important;
}